*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

:root {
    /* --background-color-theme1: hsl(222, 26%, 31%);
    --body-color-theme1: hsl(0, 0%, 100%);
    --circle-color-theme1: hsl(6, 63%, 50%);
    --circlebg-color-theme1: hsl(223, 31%, 20%);
    --output-bg-color-theme1: hsl(224, 36%, 15%);
    --key-bg-color-theme1: hsl(30, 25%, 89%);
    --key-color-theme1: hsl(221, 14%, 31%);
    --key-shadow-theme1: 0px 3px 0px 0px hsl(28, 16%, 65%);
    --grid-bg-color-theme1: hsl(223, 31%, 20%);
    --equal-bg-color-theme1: hsl(6, 63%, 50%);
    --equal-shadow-theme1: 0px 3px 0px 0px hsl(6, 70%, 34%);
    --cancel-del-bg-color-theme1: hsl(225, 21%, 49%);
    --cancel-del-shadow-theme1: 0px 3px 0px 0px hsl(224, 28%, 35%); */

    /* --background-color-theme1: hsl(0, 0%, 90%);
    --circlebg-color-theme1:hsl(0, 5%, 81%);
    --key-bg-color-theme1: hsl(45, 7%, 89%)  ;
    --output-bg-color-theme1:hsl(0, 0%, 93%) ;
    --cancel-del-bg-color-theme1: hsl(185, 42%, 37%);
    --cancel-del-shadow-theme1: hsl(185, 58%, 25%) ;
    --circle-color-theme1:hsl(25, 98%, 40%) ;
    --equal-bg-color-theme1: hsl(25, 98%, 40%);
    --equal-shadow-theme1: 0px 3px 0px 0px hsl(25, 99%, 27%);
    --key-color-theme1: hsl(60, 10%, 19%) ;
    --key-shadow-theme1: 0px 3px 0px 0px hsl(35, 11%, 61%);
    --grid-bg-color-theme1: hsl(0, 5%, 81%); */

    /* hsl(0, 0%, 100%) */
     /* --body-color-theme1:; */

    --background-color-theme1: hsl(268, 75%, 9%);
    --circlebg-color-theme1:hsl(268, 71%, 12%);
    --key-bg-color-theme1:  hsl(268, 47%, 21%) ;
    --key-shadow-theme1: 0px 3px 0px 0px  hsl(290, 70%, 36%);
    --output-bg-color-theme1:hsl(268, 71%, 12%) ;
    --cancel-del-bg-color-theme1: hsl(281, 89%, 26%);
    --cancel-del-shadow-theme1:hsl(285, 91%, 52%) ;
    --circle-color-theme1:hsl(176, 100%, 44%);
    --equal-bg-color-theme1: hsl(176, 100%, 44%);
    --equal-shadow-theme1: 0px 3px 0px 0px hsl(177, 92%, 70%);
    --key-color-theme1: hsl(52, 100%, 62%);
    --grid-bg-color-theme1: hsl(268, 71%, 12%);
    --body-color-theme1:hsl(52, 100%, 62%);


    /* - Light yellow: hsl(52, 100%, 62%)
    - Very dark blue: hsl(198, 20%, 13%)
    - White (text): hsl(0, 0%, 100%) */
    

    
  }

/* CSS
.theme1 {
  }
  
  .theme2 {
  }
  
  .theme3 {

  } */
  

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color: var(--background-color-theme1);
    color: var(--body-color-theme1);
}
.main{
    width: 22.5vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.toggle{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    font-size: 0.6rem;
    padding: 0.2rem;
}
.numbers{
    display: flex;
    justify-content: space-around;
}
.circlebg{
    height: 1.2rem;
    width: 3rem;
    border-radius: 50px;
    display: flex;
    padding: 0.2rem;
    background-color: var(--circlebg-color-theme1);
    align-items: center;

}
.circle{
    height: 0.8rem;
    width: 0.8rem;
    background-color: var(--circle-color-theme1);
    border-radius: 50%;
}
.circle:hover{
    cursor: pointer;
}
.output{
    background-color: var(--output-bg-color-theme1);
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    font-size: 1.7rem;
    padding: 0.5rem;
    height: 18%;
    align-items: center;
    overflow-x: auto;  
    white-space: nowrap;
}
.key{
    background-color: var(--key-bg-color-theme1);
    color: var(--key-color-theme1);
    box-shadow: var(--key-shadow-theme1);
    border-radius: 5px;
    width: 3.2rem;
    height: 1.8rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    background-color: var(--grid-bg-color-theme1);
    padding: 1rem;
    border-radius: 5px;
}
.cancel,.equal {
    grid-column-start: span 2;
    width: 95%;
}
.equal{
    background-color: var(--equal-bg-color-theme1);
    box-shadow: var(--equal-shadow-theme1);
    color: var(--body-color-theme1);
}
.key:hover{
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(1.2); 
}
.cancel,.del{  
    background-color: var(--cancel-del-bg-color-theme1);
    box-shadow: var(--cancel-del-shadow-theme1);
    color: var(--body-color-theme1);
}

.attribution { 
    font-size: 1rem; 
    font-weight: bold;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}